body{
    
    background-color: blueviolet;
}
.container{
    display: flex;
}
.left,
.rigth{
    width: 200px;
    height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
    
}
.list,
.list1,
.list2,
.list3{
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    height: 40px;
    background-color: pink;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}